In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('boston_house_prices.csv')

In [4]:
df

,506,13,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.06263,0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21,391.99,9.67,22.4
503,0.04527,0,11.93,0,0.573,6.12,76.7,2.2875,1,273,21,396.9,9.08,20.6
504,0.06076,0,11.93,0,0.573,6.976,91,2.1675,1,273,21,396.9,5.64,23.9
505,0.10959,0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21,393.45,6.48,22
506,0.04741,0,11.93,0,0.573,6.03,80.8,2.505,1,273,21,396.9,7.88,11.9

In [6]:
df.columns = df.iloc[0]

In [7]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.06263,0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21,391.99,9.67,22.4
503,0.04527,0,11.93,0,0.573,6.12,76.7,2.2875,1,273,21,396.9,9.08,20.6
504,0.06076,0,11.93,0,0.573,6.976,91,2.1675,1,273,21,396.9,5.64,23.9
505,0.10959,0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21,393.45,6.48,22
506,0.04741,0,11.93,0,0.573,6.03,80.8,2.505,1,273,21,396.9,7.88,11.9

In [8]:
df = df.drop(0)

In [9]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
4,0.03237,0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.9,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
502,0.06263,0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21,391.99,9.67,22.4
503,0.04527,0,11.93,0,0.573,6.12,76.7,2.2875,1,273,21,396.9,9.08,20.6
504,0.06076,0,11.93,0,0.573,6.976,91,2.1675,1,273,21,396.9,5.64,23.9
505,0.10959,0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21,393.45,6.48,22
506,0.04741,0,11.93,0,0.573,6.03,80.8,2.505,1,273,21,396.9,7.88,11.9

In [10]:
x = df.drop('MEDV', axis=1)
y = df['MEDV']

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.model_selection import cross_val_score

In [12]:
lr = LinearRegression()
dt = DecisionTreeRegressor()
svr = SVR()

In [13]:
estimators = [
    ('lr', lr),
    ('dt', dt),
    ('svr', svr)
]

In [14]:
for estimator in estimators:
    scores = cross_val_score(estimator[1], x, y, cv=10, scoring='r2')
    print(f'{estimator[0]}: {scores.mean()}')

lr: 0.20252899006056796
dt: -0.06932991180782803
svr: -0.4109699157425082

In [15]:
from sklearn.ensemble import VotingRegressor

In [16]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr, x, y, cv=10, scoring='r2')
print(f'Voting Regressor: {scores.mean()}')

Voting Regressor: 0.4394134338982137

In [20]:
for i in range(1, 4):
    for j in range(1, 4):
        for k in range(1, 4):
            weights = [i, j, k]
            vr = VotingRegressor(estimators=estimators, weights=weights)
            scores = cross_val_score(vr, x, y, cv=10, scoring='r2')
            print('For i = {}, j = {}, k = {}: {}'.format(i, j, k, np.round(np.mean(scores), 2)))

For i = 1, j = 1, k = 1: 0.45
For i = 1, j = 1, k = 2: 0.33
For i = 1, j = 1, k = 3: 0.22
For i = 1, j = 2, k = 1: 0.41
For i = 1, j = 2, k = 2: 0.41
For i = 1, j = 2, k = 3: 0.36
For i = 1, j = 3, k = 1: 0.39
For i = 1, j = 3, k = 2: 0.37
For i = 1, j = 3, k = 3: 0.37
For i = 2, j = 1, k = 1: 0.46
For i = 2, j = 1, k = 2: 0.42
For i = 2, j = 1, k = 3: 0.36
For i = 2, j = 2, k = 1: 0.38
For i = 2, j = 2, k = 2: 0.46
For i = 2, j = 2, k = 3: 0.4
For i = 2, j = 3, k = 1: 0.41
For i = 2, j = 3, k = 2: 0.43
For i = 2, j = 3, k = 3: 0.34
For i = 3, j = 1, k = 1: 0.44
For i = 3, j = 1, k = 2: 0.43
For i = 3, j = 1, k = 3: 0.37
For i = 3, j = 2, k = 1: 0.44
For i = 3, j = 2, k = 2: 0.44
For i = 3, j = 2, k = 3: 0.4
For i = 3, j = 3, k = 1: 0.43
For i = 3, j = 3, k = 2: 0.46
For i = 3, j = 3, k = 3: 0.42

In [21]:
dt1 = DecisionTreeRegressor(max_depth=1)
df2 = DecisionTreeRegressor(max_depth=3)
df3 = DecisionTreeRegressor(max_depth=5)
df4 = DecisionTreeRegressor(max_depth=7)
df5 = DecisionTreeRegressor(max_depth=None)

In [22]:
estimators = [
    ('dt1', dt1),
    ('df2', df2),
    ('df3', df3),
    ('df4', df4),
    ('df5', df5)
]

In [24]:
for estimetor in estimators:
    scores = cross_val_score(estimetor[1], x, y, cv=10, scoring='r2')
    print(f'{estimetor[0]}: {scores.mean()}')

dt1: -0.8503060271051599
df2: -0.10937096992976944
df3: -0.1633691663719712
df4: 0.09253988394238244
df5: -0.09987585859858207

In [25]:
vr = VotingRegressor(estimators)
scores = cross_val_score(vr, x, y, cv=10, scoring='r2')
print(f'Voting Regressor: {scores.mean()}')

Voting Regressor: 0.10761318498760526